spring:
  application:
    name: microservico-01

  main:
    allow-bean-definition-overriding: true

  datasource:
    password: 123456
    username: root
    url: jdbc:mysql://localhost:3306/ferias
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL5Dialect
server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka